.banner {
  padding-bottom: 3.12rem;
}

.banner-text-container,
.banner-text-container p {
  margin-bottom: 0;
}

.banner-sub-follow-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.sub-follow-btn-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.sub-follow-btn-container > * + * {
  margin-left: 1rem;
}

.sub-follow-btn-container button {
  width: 7.85rem;
  height: 2rem;
  padding: 0.38rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 0.90538rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: var(--library-title);
  border-radius: 9999px;
}

.sub-follow-btn-container button svg {
  margin-right: 0.53rem;
  width: 1rem;
  height: 1rem;
}

main {
  background-color: #f5f5f5;
}

.collections-result-container {
  margin-bottom: 1.5rem;
}

.search-container {
  padding-top: 3.75rem;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.filter-container {
  flex-basis: 26%;
  margin-right: 1.25rem;
  padding: 2rem 2.75rem 3.5rem 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  position: sticky;
  top: 1rem;
  left: 0;
}

.filter-container-divider {
  height: 0.0675rem;
  background-color: var(--grey-50);
  margin: 1rem 0;
}

.accordion-container h3 {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--grey-800);
}

.accordion-trigger-btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.375rem;
}

.accordion-trigger-btn .accordion-icon {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  transition: all 0.5s ease;
}

.accordion-dropdown {
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}

.accordion-item {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.accordion-item .checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  position: relative;
}

.accordion-item .checkbox img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.accordion-item .checkbox .checkbox-active-icon {
  opacity: 0;
}

.accordion-item .checkbox-active .checkbox-icon {
  opacity: 0;
}

.accordion-item .checkbox-active .checkbox-active-icon {
  opacity: 1;
}

.accordion-item .title {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: var(--grey-500);
}

.accordion-item .count {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: var(--grey-400);
  margin-left: auto;
}

.search-result-container {
  flex-basis: 74%;
}

.items-container,
.comment-container {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2.75rem 2.75rem 0 2.75rem;
  margin-bottom: 2.19rem;
}

.comment-container {
  margin-bottom: 0;
}

.collections-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 1.25rem;
  row-gap: 1.38rem;
  padding-bottom: 2rem;
}

.sort-container {
  margin-left: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.sort-container p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: var(--grey-500);
}

.sort-container .sort-btn {
  margin-left: 0.5rem;
  padding: 0.56rem 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  color: var(--library-title);
  display: flex;
  align-items: center;
  outline: 1px solid var(--library-title);
  border-radius: 0.25rem;
  position: relative;
}

.sort-container .sort-btn svg {
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 0.25rem;
}

.sort-btn .sort-dropdown {
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  min-width: 100%;
  height: fit-content;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  opacity: 0;
  transform: translateY(100%) scale(0.92);
  transition: all 0.3s ease;
}

.sort-btn .sort-dropdown-open {
  opacity: 1;
  transform: translateY(100%) scale(1);
}

.sort-btn .sort-dropdown .sort-item {
  color: var(--grey-800);
  text-align: start;
  padding: 0.65rem 0.8rem;
}

.comment-container {
  background-color: #fff;
  border-radius: 0.5rem;
}

.comment-container h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: var(--grey-900);
  margin-bottom: 0.25rem;
}

.overall-comment-info {
  display: flex;
  align-items: flex-end;
}

.overall-comment-info .star-text {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  color: var(--grey-800);
  margin-right: 0.69rem;
}

.star-container {
  display: flex;
  flex-direction: column;
}

.star-icons-container {
  display: flex;
  margin-bottom: 0.25rem;
}

.star-icons-container > * + * {
  margin-left: 0.25rem;
}

.star-icons-container svg {
  width: 1.125rem;
  height: 1.125rem;
}

.star-container p {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: var(--black-30);
}

@media (max-width: 768px) {
  .breadcrumb-container {
    column-gap: 0.5rem;
    row-gap: 0.125rem;
  }
  .breadcrumb-container > * + * {
    margin-left: 0;
  }
  .banner-sub-follow-container {
    flex-direction: column;
    align-items: center;
  }
  .sub-follow-btn-container {
    margin: auto;
    margin-top: 1.25rem;
    width: 100%;
  }
  .sub-follow-btn-container button {
    flex-flow: 50%;
    flex-grow: 1;
  }
  main {
    padding: 1rem 0 3.75rem 0;
    background-color: #fff;
  }
  .search-container {
    flex-direction: column;
    width: 100%;
    margin-right: 0;
    padding-top: 1.5rem;
  }
  .filter-container {
    padding: 0;
    width: 100%;
    position: relative;
  }
  .search-result-container {
    padding: 0;
    padding-top: 3rem;
  }
  .items-container {
    padding: 0;
  }
  .collections-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0.5rem;
    row-gap: 1.25rem;
  }
  .collection-item .image-container {
    height: 10rem;
  }
  .collections-result-container {
    padding-bottom: 2.5rem;
  }
  .filter-container-divider {
    margin: 0.75rem 0;
  }
}
