.section-collections .bigger-container {
  border-radius: 1rem;
  background: linear-gradient(0deg, rgba(237, 242, 238, 0.6) 0%, rgba(237, 242, 238, 0.6) 100%), #fff;
}

.collections-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: 1.25rem;
  row-gap: 2rem;
  padding-top: 1.75rem;
  padding-bottom: 2rem;
}

.collection-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.collection-item .image-container {
  border-radius: 0.25rem;
  outline: 1px solid var(--grey-200);
  height: 13.4rem;
  margin-bottom: 0.75rem;
}

.collection-item .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-item .download-count {
  color: var(--grey-400);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 0.38rem;
}

.collection-item h4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: #0c482f;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 0.75rem;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 0.125rem;
  text-decoration-color: transparent;
  transition: all 0.3s ease;
}

.collection-item h4:hover {
  text-decoration-color: #0c482f;
}

.collection-item .download-btn {
  border-radius: 0.25rem;
  background: rgba(19, 115, 58, 0.2);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 128.6%;
  color: var(--green-600);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3125rem;
  transition: all 0.3s ease;
  position: relative;
}

.collection-item .download-btn svg {
  margin-left: 0.25rem;
  width: 1rem;
  height: 1rem;
}

.collection-item .download-btn:hover {
  background: rgba(19, 115, 58, 0.4);
}