.section-collections .bigger-container {
  border-radius: 1rem;
  background: linear-gradient(0deg, rgba(237, 242, 238, 0.6) 0%, rgba(237, 242, 238, 0.6) 100%), #fff;
}

.collections-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: 1.25rem;
  row-gap: 2rem;
  padding-top: 1.75rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .collections-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 0.5rem;
    row-gap: 1.25rem;
  }
}